.Top-navigation{
    padding:13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
    background-color:rgb(2, 35, 71);
    color: white;
    height: 45px;
}
a{
    text-decoration-line: none;
    color: white;
}
body , html{
    margin: 0px;
}
.Search{
    background-color: rgb(3, 57, 114);
    color: white;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
}

.Search::placeholder{
    color: white;
    font-size: 14px;
}

.Main-container-1{
    display: grid;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url(/images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    justify-content: center;
    color: white;
    height: 450px;
    background-position:50% 90%; 
}

.right-top{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.left-top{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
}
.letter{
    margin: 0px;
    font-size: 50px;
}

.btn-explore{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: rgba(236,119,50,255);
    font-size: 20px;
    position: relative;
    left: 170px;
    color: white;
}

.btn-explore:hover{
    cursor: pointer;
    color: white;
}

.secLetter{
    position: relative;
    left: 95px;
    font-size: 25px;
}

.navigation {
    display: flex;
    background-color: rgb(3, 48, 96);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
.right-navigation{
    display: flex;
    gap: 20px;
    padding-right: 50px;
}
.left-navigation{
    display: flex;
    gap: 20px;
}

.home{
    font-size: 18px;
}